.page-header {
    margin: 0;
    padding: 0;
    margin-left: 5%;
}

.page-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 80%;
    gap: 3%;
    margin: auto auto;
}

// VIDEO AREA
.video-thumbnail {
    width: 35%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

// TITLE 
.title-type-area {
    display: flex;
    width: 100%;
    gap: 2%;
}

.upload-input {
    margin: 0;
    font-size: clamp(20px, 1vw, 24px);

    // field BG
    .MuiOutlinedInput-root {
        background-color: #b5d4f3;
    }

    // placeholder text
    .MuiInputLabel-root {
        color: #4c4b51;
        font-weight: 600;
    }

    // Focused label
    .MuiInputLabel-root.Mui-focused {
        color: black; // 👈 change this to whatever color you want
    }
}

// MATCH TYPE
.match-type-area {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
}

.match-type-mui-button {
    width: 30%;

    .MuiButton-root {
        font-size: clamp(18px, 1.6vw, 28px);
        height: 60px;
        font-weight: 600;
        transition: all 0.25s ease-in-out;
    }

    &.MuiButton-outlined {
        background-color: #b5d4f3;
        font-size: clamp(12px, 1.4vw, 20px);

    }

    &.selected {
        font-size: clamp(20px, 1.8vw, 32px);
        height: 67px;
    }
}

// PAGE TWO
.page-two {
    position: relative;
    width: 95%;
    height: 93vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.left-vertical-upload {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8%;
    align-items: center;
}

.upload-input-2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-upload-input-section {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2%;
}

.best-of-area {
    width: 100%;
    height: fit-content;

    h3 {
        padding: 0;
        margin: 0;
    }
}

.right-upload-input-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.player-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;

    h3 {
        padding: 0;
        margin: 0;
    }
}

.player-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
    width: 100%;
    height: fit-content;
}

.color-input {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    background: none;
    outline: none;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
        border-radius: 50%;
    }

    &::-webkit-color-swatch {
        border: none;
        border: 1px solid black;
        border-radius: 50%;
    }

    &::-moz-color-swatch {
        border: none;
        border-radius: 50%;
    }

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}



.match-length-area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 2%;
    height: 60px;
}




// UPLOAD
.upload-button {
    width: 65%;
    align-self: center;
}

.continue2-button {
    width: clamp(70%, 1vw, 80%);
    padding: 15px;
    font-size: clamp(32px, 1vw, 44px);
    font-weight: 600;
    border-radius: 8px;
    text-transform: none;
}

.right-area {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 90vh;
    align-items: center;
    max-height: inherit;

    h1 {
        margin: 0;
        padding: 0;
    }
}

.detail-display-background {
    width: 100%;
    border-radius: 12px;
    padding: 5px;

    h2 {
        margin: 0;
        padding: 0;
    }

    p {
        font-size: clamp(12px, 1vw, 14px);
        margin: 0;
        padding-top: 5px;
    }

    .detail-row {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}


#video-title {
    width: 75%;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

#uploader {
    font-size: 18px;
    margin-top: 1%;
}

.page-two-thumbnail {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}





// PAGE three
.page-three {
    position: relative;
    width: 95%;
    height: 93vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 1%;
    padding-bottom: 1%;
}


.upload-video-centered {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    gap: 1%;
    flex-direction: column;
}

.upload-video-player-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.upload-player {
    left: auto;
    top: 0;
}

.upload-video-controls {
    display: flex;
    flex-direction: row;
    width: 49%;
    margin-right: 7%;
}

.timeline-slider {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    text-align: center;
    width: 100%;
    height: 30px;
    border-radius: 25px;
    border-color: black;
    border-style: solid;
    /*margin-bottom: 5vh;*/
}

.range-slider {
    position: relative;
    width: 100%;
}

.slider-background {
    position: absolute;
    background: transparent;
    width: 100%;
    content: "";
    height: 60%;
    top: 20%;
    pointer-events: none;
}

.tick {
    position: absolute;
    top: -8%;
    background: #315fb9;
    width: 0.5%;
    height: 100%;
    pointer-events: all;
    margin: 0;
    padding: 0;
}

.tick:hover {
    transform: scale(1.5);
}

.tick .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tick:hover .tooltiptext {
    visibility: visible;
}

.point-controls {
    display: flex;
    height: 8%;
    flex-direction: row;
    gap: 1%;
    justify-content: center;
    align-items: center;
}

.point-button {
    width: 5%;
    background-color: #315fb9;
    color: white;
    padding: 5px;
    border-radius: 8px;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 0.5%;
}

.point-display {
    background-color: rgb(75, 60, 60);
    border-radius: 30px;
    //bottom: 7%;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 0.2rem rgb(61, 61, 61) solid;
}

.player1-color {
    flex-grow: 1;
    min-height: 100%;
    width: 10%;
    background-color: aquamarine;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.player2-color {
    flex-grow: 1;
    min-height: 100%;
    width: 10%;
    background-color: red;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.player-name {
    width: 35%;
    text-align: center;
    color: white;
    font-size: clamp(14px, 1vw, 18px);
    font-weight: 600;
    margin: 0;
    padding: 15px;
}

.player1_wins {
    min-height: 100%;
    background-color: #315fb9;
    align-content: center;
    color: white;
    width: 8%;
    text-align: center;
    font-size: clamp(22px, 1vw, 26px);
    font-weight: 600;
}

.player2_wins {
    min-height: 100%;
    background-color: #315fb9;
    align-content: center;
    color: white;
    width: 8%;
    text-align: center;
    font-size: clamp(22px, 1vw, 26px);
    font-weight: 600;
}

.score-background {
    background-color: rgb(61, 61, 61);
    color: white;
    text-align: center;
    width: 20%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

.call-controls {
    height: 28%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player1-calls {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-items: center;
    border-right: 0.1rem solid black;
}

.player2-calls {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    justify-content: center;
    align-items: center;
    border-left: 0.1rem solid black;
}

.call-button {
    width: 50%;
}

hr {
    height: 35vh;
    width: .5vw;
    border-width: 0;
    background-color: black;
}

.play-pause {
    width: 30%;
    //align-self: right;
}

// TABLET
@media screen and (max-width: 1025px) {
    .detail-display-background {
        width: 100%;
        border-radius: 12px;
        background-color: #b5d4f3;
        padding: 5px;
        border: 2px solid grey;


        h2 {
            font-size: 16px;
            padding: 2px;
            margin: 0;
        }

        p {
            font-size: 14px;
            margin: 0;
            padding-top: 2px;
        }

        .detail-row {
            display: flex;
            align-items: center;
            gap: 3px;
        }
    }

    .match-length-button {
        width: 49%;
        height: 30px;
        background-color: #7aa6d3;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .match-length-button.three {
        width: 32%;
    }

    .match-length-button.selected {
        height: 35px;
        background-color: #b5d4f3;
    }
}

// SMARTPHONE
@media screen and (max-width: 768px) {
    .page-one {
        gap: 5%;
        padding-top: 3%;

        .title-type-area {
            flex-direction: column;
            width: 100%;
            gap: 25px;
        }


        .video-thumbnail {
            width: 90%;
        }
    }

    .page-two {


        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 75%;
        gap: 5%;

        .left-area {
            width: 95%;
            height: 50%;
        }

        .right-area {
            display: none;
        }


        .match-length-area.selected {
            font-size: clamp(12px, 0.5em, 24px);
        }
    }

}

@media screen and (min-width: 767px) and (max-width: 1025px) {
    .video-thumbnail {
        width: 90%;
    }
}