.layout-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;    
}

.content-area-with-top-navbar {
    display: flex;
    flex-direction: column;
    width: calc(100% - 5%);
    height: 100%;

    transition: width 0.3s ease-in-out;

    &.sidebar-open {
        width: 95%;
    }

    &.sidebar-closed {
        width: 100%;
    }
}

.top-nav-bar {
    width: 100%;
    height: 8%;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .icon-area {
        width: fit-content;
        align-self: flex-end;
        height: 65px;
        display: flex;
        z-index: 50;
    }

    .profile-icon {
        padding: 0;
        height: 100%;
        width: auto;
        border-radius: 100%;
        padding: 30%;
        z-index: 50;
    }

    .profile-icon:hover {
        background-color: rgb(211, 211, 211, 0.5);
        z-index: 50;
    }

    .bell-icon {
        padding: 0;
        height: 100%;
        width: auto;
        border-radius: 100%;
        padding: 23%;
        z-index: 50;
    }

    .bell-icon:hover {
        background-color: rgb(211, 211, 211, 0.5);
        z-index: 50;
    }
}

.dropdown-menu {
    position: absolute;
    top: 9%;
    right: 2%;
    width: 20%;
    background-color: white;
    border-radius: 2%;
    border: 5px solid #4693e1;
    z-index: 50;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 4%;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f4f4f4;
}


.main-content {
    overflow: auto;
}

.menu-button {
    width: clamp(55px, 2vw, 100px);
    height: clamp(55px, 2vw, 100px);
    color: black;
    font-size: 24px;
    cursor: pointer;
    z-index: 1100;
    padding: 5px;
    border-radius: 8px;
}

.menu-button:hover {
    background-color: grey;
}

@media screen and (max-width: 768px) {
    .content-area-with-top-navbar {
        width: calc(100% - 15%);

        &.sidebar-open {
            width: 85%;
        }

        &.sidebar-closed {
            width: 100%;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .menu-button {
        width: 80px;
        height: 80px;
    }
}