.sidebar {
    position: absolute;
    width: 7%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #4693e1;
}

.list{
    list-style-type: none;
    margin: 0;
    position: absolute;
    top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 0;
}

.nav-button{
    width: 80%;
    text-align: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 5px 0px; 
    color: white;
}

.nav-button:hover{
    background-color: rgb(245,255,255, 0.8);

    img, span{
        filter: brightness(0) invert(0); /* Change color on hover */
    }
}

.selected {
    background-color: rgb(245,255,255, 0.8);
}

.nav-button a{
    width: 100%;
    height: 100%;
}

.nav-icon{
    width: 25px;
    height: 25px;
    margin-bottom: 8px;
    padding-top: 5px;
}

a{
    text-decoration: none;
    color: black;
}