.sidebar {
    height: 100%;
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(3%, 1vw, 6%);
    background-color: #4693e1;

    z-index: 1000;
    transition: width 0.3s ease-in-out;
}


.nav-button{
    position: relative;
    width: 65%;
    aspect-ratio: 1/1;
    text-align: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    background-color: transparent;
    padding: 0;

    &:hover .tooltip{
        opacity: 1;
    }
}

.tooltip{
    position: absolute;
    left: 110%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    z-index: 100000;
    transition: opacity 0.2s ease;
}

.nav-button:hover{
    background-color: #1c64ad;


}

.selected {
    background-color: #1c64ad;
}

.nav-icon{
    width: 60%;
    height: 60%;
    object-fit: contain;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .sidebar{
        background-color: orange;
        width: 15%;
    }

    .nav-icon{
        width: 75%;
    }
}

@media screen and (max-width: 768px){
    .sidebar{
        background-color: green;
        width: 10%;
    }

    .nav-icon{
        width: 55%;
    }
}
