.shared-video-card{
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;

  transition: transform 0.15s ease-in-out;

  &:hover{
      transform: scale(1.05);
  }
}
  
  


.shared-thumbnail{
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 8px;
  padding-top: 5px;

  transition: transform 0.15s ease-in-out;
}
