.profile-page{
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100%;
    height: 93vh;
}

.left-area{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    flex-grow: 0.1;
    min-height: 100%;
    border-right: 3px solid black;

    .tooltip-wrapper {
        position: absolute;
        top: 15px;
        right: 15px;
        display: inline-block;
      
        .tooltip-text {
          visibility: hidden;
          width: max-content;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 8px;
          font-size: 12px;
      
          position: absolute;
          top: 80%;
          right: 10%;
          transform: translateX(-50%);
          white-space: nowrap;
      
          opacity: 0;
          transition: opacity 0.3s;
          z-index: 1;
        }
      
        &:hover .tooltip-text {
          visibility: visible;
          opacity: 1;
        }
      }
    
    .edit-profile-button{
        width: 50px;
        height: auto;
        cursor: pointer;
        padding: 5px;
        border-radius: 15%;
    }

    .enabled{
        background-color: #bababa;
    }

    .my-profile{
        font-size: clamp(24px, 1vw, 36px);
    }

    .profile-username{
        font-size: clamp(24px, 1vw, 36px);
        margin: 0;
        padding: 0;
    }
    
    .profile-picture-zone{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        gap: 15px;
    }

    .pic-switch-left{
        width: 50px;
        height: 50px;
        transform: scaleX(-1);
        cursor: pointer;
    }

    .profile-pic{
        width: 50%;
        height: auto;
    }


    .pic-switch-right{
        width: 50px;
        height: 50px;
        cursor: pointer;
    }



    .club-locker-area{
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        h3{
            margin: 0;
            padding: 0;
            margin-top: 5px;
        }

        img{
            height: 20px;
        }

        p{
            margin: 0;
            padding: 0;
            font-size: clamp(6px, 1vw, 14px);
            align-self: flex-end;
            margin-left: 10px;
        }
    }
    
}

.right-area{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: clamp(10px, 1vw, 25px);
    padding: 0px 2vw;
    padding-top: 5vh;


    .profile-fields-div{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
        align-self: flex-start;
    }


    .security-button-area{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    // CHANGE PASSWORD
    .change-password-button, .logout-button{
        width: (25%, .25vw, 30%);
        padding: 10px 10px;
        font-size: clamp(16px, 1vw, 24px);
        color: red;
        border: 1px solid red;
        background-color: transparent;
        cursor: pointer;
        align-self: flex-start;
    }

    .change-password-button:hover, .logout-button:hover{
        background-color: red;
        color: white;
    }

    #security-title{
        align-self: flex-start;
        font-size: clamp(32px, 1.5vw, 42px);
        border-bottom: 1px solid black;
        width: 100%;
    }


  
    // SECURITY
    .show-age-label{
        width: 100%;
        font-size: clamp(16px, 1vw, 24px);
    }

    [type="checkbox"]{
        opacity: 0;
    }

    [type="checkbox"] + label{
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        display: inline-block;
        line-height: 25px;
    }
    
    [type="checkbox"] + label::before{
        content: "";
        position: absolute;
        left: 0;
        top: 3px;
        width: 20px;
        height: 20px;
        outline: 3px solid red;
        background: aliceblue;
    }

    [type="checkbox"]:checked + label::before{
        content: "";
        position: absolute;
        left: 0;
        top: 3px;
        width: 20px;
        height: 20px;
        outline: 3px solid green;
        background: aliceblue;
    }

    [type="checkbox"]:checked + label::after{
        content: "";
        position: absolute;
        left: 0;
        top: 3px;
        width: 20px;
        height: 20px;
        background-image: url("../../../public/assets/checkmark.png");
        background-size: contain;
        transform: scale(1);
        opacity: 1;
        transition: all .3s ease;
    }

    [type="checkbox"]:not(:checked) + label::after{
        content: "";
        position: absolute;
        left: 0;
        top: 3px;
        width: 20px;
        height: 20px;
        background-image: url("../../../public/assets/checkmark.png");
        background-size: contain;
        transform: scale(0);
        opacity: 0;        
    }

    .save-changes-button {
        position: absolute;
        bottom: 25%;
        right: 1.5%;
        width: (25%, .25vw, 30%);
        padding: 10px 10px;
        font-size: clamp(16px, 1vw, 24px);
        color: green;
        border: 1px solid green;
        background-color: transparent;
        cursor: pointer;
        align-self: flex-start;
    }

    .save-changes-button:hover{
        background-color: green;
        color: white;
    }

}










