.left-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-height: 100vh;
    border-right: solid 3px black;
    
    .my-profile{
        align-self: flex-start;
        padding-left: 5%;
    }

    img{
        width: 40%;
        height: auto;
        background-color: lightgray;
        padding: 25px;
        border-radius: 64px;

    }

    .club-locker-area{
        display: flex;
        flex-direction: column;
        padding-left: 2%;
        width: 90%;
        max-height: 35vh;
        background-color: rgb(70, 147, 225, 0.5);
        border-radius: 12px;



        .club-locker-link{
            cursor: pointer;
        }

        .club-locker-link:hover{
            text-decoration: underline;
        }
    
    }
    
}

.right-area{
    display: flex;
    flex-direction: row;
    gap: 0%;
    width:75%;
    min-height: 100vh;

    // NECESSARY
    .left-column{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        padding-top: 8%;
        padding-left: 1%;

        label{
            color: black;
            font-size: 22px;
        }

        h1{
            border-bottom: 1px solid black;
            width: 100%;
        }
    }

    // INPUTS
    .profile-input-field{
        padding: 15px 0;
        width:40%;
        border-radius: 8px;
        box-sizing: border-box;
        border: 1px solid white;
        background-color: #b5d4f3;
        font-size: 24px;
        padding-left: 10px;
        margin-bottom: 15px;
    }

    .first-name{
        width: 100%;
    }

    .last-name{
        width: 100%;
    }

    .email{
        width: 100%;
    }



    // CHANGE PASSWORD
    .change-password-button{
        width: 25%;
        padding: 10px 10px;
        font-size: 18px;
        color: red;
        border: 1px solid red;
        background-color: transparent;
        cursor: pointer;
    }

    .change-password-button:hover{
        background-color: red;
        color: white;
    }
    

    // SMARTPHONE
    @media screen and (max-width: 768px){
        .horizontal-flexbox{
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
        }

        .name-area{
            width: 80%;
            margin-top: 40%;
        }

        .profile-input-field{
            width: 80%;
        }
    }

  
    // SECURITY
    #show-age-label{
        width: 40%;
        font-size: 24px;
    }

    [type="checkbox"]{
        opacity: 0;
    }

    [type="checkbox"] + label{
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        display: inline-block;
        line-height: 25px;
    }
    
    [type="checkbox"] + label::before{
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        width: 20px;
        height: 20px;
        outline: 3px solid red;
        background: aliceblue;
    }

    [type="checkbox"]:checked + label::before{
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        width: 20px;
        height: 20px;
        outline: 3px solid green;
        background: aliceblue;
    }

    [type="checkbox"]:checked + label::after{
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        width: 20px;
        height: 20px;
        background-image: url("../../../public/assets/checkmark.png");
        background-size: contain;
        transform: scale(1);
        opacity: 1;
        transition: all .3s ease;
    }

    [type="checkbox"]:not(:checked) + label::after{
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        width: 20px;
        height: 20px;
        background-image: url("../../../public/assets/checkmark.png");
        background-size: contain;
        transform: scale(0);
        opacity: 0;        
    }




}



// FLEXBOXES
.horizontal-flexbox{
    display: flex;
    width: 100%;
    height: auto;
    gap: 5%;
    align-items: center;
}

.vertical-flexbox{
    display: flex;
    flex-direction: column;
    width: 40%;
}


// ELEMENT SELECTORS
h1{
    font-size: clamp(24px, 2vw, 38px);
}

h3{
    font-size: clamp(16px, 2vw, 24px);
    margin: 0 0;
    padding: 0 0;
}

// WHOLE PAGE MEDIA QUERY
@media screen and (max-width: 768px){
    .left-area{
        width: 50%;
    }
    
}









