body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color:aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}

.page-header{
  align-self: flex-start;
  margin-left: 2%;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: auto auto;
}

.input-container{
  position: relative;
  width: 100%;
  height: fit-content;
}

.floating-label{
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  width: fit-content;
  opacity: 1;
  color: #4c4b51;
  text-align: left;
  top: 5px;
  left: 5px;
  padding: 0;
  margin: 0;
}

.input-zone {
  width: 100%;
  padding-left: 10px;
  padding-top: clamp(20px, 1.5vw, 35px);
  padding-bottom: clamp(5px, 1vw, 10px);
  border-radius: 8px;
  box-sizing: border-box;
  border: 2px solid grey;
  background-color: #b5d4f3;
  font-size: clamp(20px, 1vw, 24px);
}

.profile-label{
  font-size: 10px;
}

.zone-profile{
  padding-bottom: 5px;
  padding-top: 20px;
  font-size: 18px;
}


* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}