.landing-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 10px;
}

.login-button, .create-profile-button{
    padding: 5px 15px;
    width: 150px;
    height: 35px;
    background-color: #315fb9;
    border-radius: 8px;
    color: white;
    font-size: 22px;
    text-align: center;
}