.video-display-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: grey;
}

.controls{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 15%;
    margin: auto;
    margin-top: 0;
    background-color: green;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .coach-tabs button:hover {
    background-color: #a7a7a7;
  }
  
  /* Create an active/current tablink class */
  .coach-tabs button.active {
    background-color: #9b9b9b;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }