.watch-video-page-column {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
}

#page-title {
  text-align: start;
  margin: 0;
  padding: 5px;
  width: 92%;
  margin: auto;

}

.video-comments-section-row {
  width: 100%;
  height: 93%;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.video-area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  height: 100%;
}

.react-player-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  padding-top: 56.25%;

}

.react-player {
  position: absolute; 
  left: auto;
  top: 0;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height:7%;
}

.timeline-slider {
  //appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  border-radius: 20px;
}




//COMMENTING
.comment-section {
  background-color: #9b9b9b;
  border-radius: 12px;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: auto auto;
  position: relative;
}

.comment-section-top-bar {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#coaching-header{
  margin: 0;
  padding: 5px;
}

.comments-area {
  width: 98%;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: thin;
  background-color: #888888;
  border-radius: 16px;
  padding: 5px;
}

.no-comments-text{
  justify-self: center;
}

.specific-comment {
  background-color: azure;
  border-radius: 16px;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  position: relative;
}

.comment-profile-pic {
  width: 15%;
  height: 50%;
  background-color: lightgray;
  border-radius: 64px;
  margin-top: 1%;
}

.comment-div{
  width: 100%;
  height: 100%;
  padding-left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  h4{
    padding: 0;
    margin: 0;
  }

  p{
    padding: 0;
    margin: 0;
  }
}

.comment-top-bar{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .date-posted{
    margin-right: 3%;
  }
}

.comment{
  width: 100%;
  height: 55%;
  overflow: hidden;       
  text-overflow: ellipsis;  
  font-size: clamp(10px, 1vw, 14px);
}

.comment-button-area{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-comment-button-area{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.like-button{
  height: 100%;
}

.view-more-button{
  font-size: clamp(8px, 1vw, 12px);
}

.reply-icon{
  height: 75%;
}

.reply-button{
  cursor: pointer;
  font-weight: 500px;
  font-size: clamp(12px, 1vw, 16px);
  margin: 0;
  padding: 0;

  &:hover{
    text-decoration: underline;
  }
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.coach-tabs button:hover {
  background-color: #a7a7a7;
}


.coach-tabs button.active {
  background-color: #838383;
}

.tabcontent {
  overflow-y: scroll;
  height: 72%;
  flex-grow: 0;

}


.reactions {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;

}

.x-button {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

// TYPE COMMENT / POST BUTTON AREA
.post-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  position: absolute;
  height: 15%;
  width: 95%;
}

.input-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-input {
  width: 100%;
  height: 90%;
  resize: none;
  padding-left: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 2px solid grey;
  background-color: #b5d4f3;
  font-size: clamp(12px, .8vw, 18px);
  line-height: 1;
  overflow-y: auto;
  scrollbar-width:thin;


  &::placeholder{
    font-size: 12px;
    vertical-align: top;
  }
}

.comment-button {
  background-color: #315fb9;
  width: 25%;
  vertical-align: bottom;
}
