.watch-video-page{
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 8%;
  overflow: hidden;
}

#page-title{
  align-self: flex-start;
}

.centered-video-page{
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 25px;
}

.video-area{
  background-color: #9b9b9b;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  justify-content: space-between;
}

.video-display{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
  height: 75%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}


.controls{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  height: 25%;
  margin: auto;
  margin-top: 0;
  padding-top: 2%;
}

.timeline-slider{
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px;
  border-radius: 20px;
}





//COMMENTING
.comment-section{
  background-color: #9b9b9b;
  border-radius: 12px;
  width: 25%;
  height: 100%;
  overflow-y: scroll;
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .coach-tabs button:hover {
    background-color: #a7a7a7;
  }
  

  .coach-tabs button.active {
    background-color: #838383;
  }
  
  .tabcontent {
    display: none;
    overflow-y: scroll;
    height: 72%;
    flex-grow:0;

  }

  .comment-pic{
    width: 15%;
    height: auto;
    background-color: lightgray;
    border-radius: 64px;
}

.icon{
    width: 100%;
    height: auto;
}

.reply-icon{
  width: 30%;
}

.reactions {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;   

  }
.comment-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width: 80%;
    height: 100%;
    margin: auto auto;
    position: relative;
  }

.comment {
 flex-grow: 0;
 flex-shrink: 0;
 border-color:#f1f1f1;
 border-width: 1px;
 border-style:solid;
}

.comment-text {
  flex-grow: 0;
  flex-shrink: 0;
 }

.comment-button{
  background-color: #315fb9;
  width: 25%;
  vertical-align: bottom;
}

.reply-option{
  background-color: #c4c3c3;
  display: none;
  height: 10%;
  width: 100%;
  position: relative;
}

.x-button{
  width:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

.post-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  position:absolute;
  height: 8%;
}

.commenter-info{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reply-commenter-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10%;
  top: 0;
  position: absolute;
}

.reply-pic{
  width: 10%;
  height: auto;
  background-color: lightgray;
  border-radius: 64px;
}

.time-stamp{
  color:#d3d3d3;
  position: absolute;
  right:0;
}

.info-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}