.create-display-area{
    width: 100%;
    height:93vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.create-account-left-area{
    position: relative;
    height: 90%;
    width: 33%;

    .pic-select-area{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .pic-switch-left{
        width: 50px;
        height: 50px;
        transform: scaleX(-1);
        cursor: pointer;
    }

    .profile-pic{
        width: 50%;
        height: auto;
    }


    .pic-switch-right{
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

}

.back-arrow{
    position: absolute;
    top: 1%;
    right: 2%;
    width: 50px;
    height: auto;
    cursor: pointer;
}

.create-account-form-area {
    width: 35%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2%;
    padding-bottom: 2%;

    gap: 3%;

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 3%;
        width: 100%;
        height: 100%;
    }
}

.header {
    margin: 0;
    padding: 0;
    color: black;
}

.first-last-name-area {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 4%;
}

.create-profile-input {
    margin: 0;

    .MuiOutlinedInput-root {
        background-color: #b5d4f3;
        font-size: clamp(20px, 1vw, 24px);
        transition: all 0.2s ease-in-out;

        // Default border
        fieldset {
            transition: all 0.2s ease-in-out;
        }
    }

    .MuiInputLabel-root {
        color: #4c4b51;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
    }

    .MuiInputLabel-root.Mui-focused {
        color: black;
    }

    &.invalid {
        .MuiOutlinedInput-root {
            fieldset {
                border-color: rgba(255, 0, 0, 0.6) !important;
                box-shadow: 0 0 4px rgba(255, 0, 0, 0.4);
            }
        }

        .MuiInputLabel-root {
            color: red !important;
        }
    }
}


.level-selection{
    width: 100%;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    background-color: #b5d4f3;
}

.create-account-right-area{
    height: 90%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.password-check-area {
    width: 75%;
    height: fit-content;
    margin-left: 50px;
    background-color: #FDFDFF;
    border: solid 2px black;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

.password-check-area h2 {
    margin: 0px 5px;
    font-size: 18px;
    margin-bottom: 25px;
}

.necessary-password-metrics {
    list-style-type: none;
    padding: 0;
    margin: 0px 10px;
}

.password-check-item {
    padding: 5px 0px;
    color: red;
    font-weight: bold;
}

.password-check-item.completed {
    color: green;
}

.password-confirm {
    display: none;
    margin-top: auto;
    text-align: center;
}

.password-confirm.valid {
    display: inline-block;
}


/* Responsive adjustments */
@media screen and (max-width: 1240px) {
    .create-background {
        width: 100%;
        height: 85%;
        padding: 3%;
        border-radius: 12px;
    }

    .input-field {
        max-width: 350px;
        margin-bottom: 0%;
        padding: 10px;
    }

    .first-last-name-area {
        flex-direction: column;
        gap: 10px;
    }

    #first-name,
    #last-name {
        width: 100%;
    }

    .create-profile {
        width: 100%;
        height: 100%;
        font-size: 20px;
    }
}