.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.main-area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #4693e1;
    border-radius: 12px;
    padding: 0 5%;
    margin: 0 auto;
}


.header {
    color: white;
}



.horizontal-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

label {
    font-size: 16px;
    width: 125px;
    color: white;
    padding: 5px 0px;
}


.first-last-name-area {
    display: flex;
    justify-content: space-between;
}

.input-field {
    padding: 10px;
    width: 450px;
    margin-right: 10%;
    border-radius: 8px;
    margin-bottom: 2%;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: #b5d4f3;
}

.input-field.invalid {
    border: 2px solid red;
}

#first-name {
    width: 90%;
}

#last-name {
    width: 100%;
}

.create-profile {
    padding: 15px 15px;
    width: 45%;
    height: 100%;
    background-color: #315fb9;
    border-radius: 8px;
    color: white;
    font-size: 30px;
    margin: 15px auto;
    text-align: center;
}


.password-check-area {
    width: 100%;
    height: 50%;
    margin-left: 50px;
    background-color: #FDFDFF;
    border: solid 2px black;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

.password-check-area h2 {
    margin: 0px 5px;
    font-size: 18px;
    margin-bottom: 25px;
}

.necessary-password-metrics {
    list-style-type: none;
    padding: 0;
    margin: 0px 10px;
}

.password-check-item {
    padding: 5px 0px;
    color: red;
    font-weight: bold;
}

.password-check-item.completed {
    color: green;
}

.password-confirm {
    display: none;
    margin-top: auto;
    text-align: center;
}

.password-confirm.valid {
    display: inline-block;
}


/* Responsive adjustments */
@media screen and (max-width: 1240px) {
    .main-area {
        width: 100%;
        height: 85%;
        padding: 3%;
        border-radius: 12px;
    }

    .input-field {
        max-width: 350px;
        margin-bottom: 0%;
        padding: 10px;
    }

    .first-last-name-area {
        flex-direction: column;
        gap: 10px;
    }

    #first-name,
    #last-name {
        width: 100%;
    }

    .create-profile {
        width: 100%;
        height: 100%;
        font-size: 20px;
    }
}